@import "tailwindcss";

@theme {
  --color-primary-300:#F15B6F;
  --color-primary-500:#CE3246;
  --color-primary-900:#CC1028;
  --color-secondary-300:#7BD78D;
  --color-secondary-500:#32CF52;
  --color-secondary-900:#13C236;
  --color-white-300:#FFFDFD;
  --color-white-500:#FFF8F8;
  --color-white-900:#FBEBED;
  --color-black-300:#251E1F;
  --color-black-500:#211415;
  --color-black-900:#140406;
  --color-grey-300:#F3F3F3;
  --color-grey-400:#E5E5E5;
  --color-grey-500:#D9D6D6;
  --color-grey-600:#CECECE;
  --color-grey-700:#B1AFAF;
  --color-grey-800:#9D9797;
  --color-grey-900:#766E6E;
  --font-primary:var(--font-lato);
  --font-secondary:var(--font-roboto);
  --spacing-18: calc(var(--spacing) * 18);
}

.background {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-500) 220px,
    var(--color-grey-300) 220px,
    var(--color-grey-300) 100%
  );
}